# Виртуальное окружение
.venv/
venv/

# Кэш спутниковых данных
ice_data_cache/

# База данных (создаётся автоматически)
instance/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Локальные настройки IDE
.vscode/
.idea/

# Временные файлы растров
*.tif
*.tif_nolake*

.env